.icon {
  width: 18px;
  height: 18px;
  color: white;
  fill: white;

  &--small {
    width: 14px;
    height: 14px;
  }
  &--medium {
    width: 18px;
    height: 18px;
  }

  &--large {
    width: 24px;
    height: 24px;
  }

  &--xlarge {
    width: 32px;
    height: 32px;
  }

  // You can add more styles or variations here

  &.primary {
    fill: var(--color-accent-9);
    fill: var(--color-accent-9);
  }

  &.default {
    fill: var(--color-gray-12);
    fill: var(--color-gray-12);
  }
}
