.icon {
  color: var(--color-gray-12);

  &--small {
    width: 14px;
    height: 14px;
  }
  &--medium {
    width: 18px;
    height: 18px;
  }

  &--large {
    width: 24px;
    height: 24px;
  }

  &--xlarge {
    width: 32px;
    height: 32px;
  }

  &--accent {
    color: var(--color-accent-9);
  }
}

.wrapper {
  &--small {
    width: 14px;
    height: 14px;
  }
  &--medium {
    width: 18px;
    height: 18px;
  }

  &--large {
    width: 24px;
    height: 24px;
  }

  &--xlarge {
    width: 32px;
    height: 32px;
  }
}
